# Crashlog folder.
/error/

# Profiles folder.
/profiles/

# Game Configs folder.
/game_config/

# Schemas folder.
/schemas/

# Packs created on launch.
/temp_packs/

# SQL Scripts folders
/sql_scripts_extracted/
/sql_scripts_local/
/sql_scripts_remote/

# Translation folders.
/translations_local/
/translations_remote/

# Linux built Qt extensions lib.
/3rdparty/builds/libqt_runcher_extensions.a

# Compilation folder for Rust & Company.
/target/

# KDE directory config file.
.directory

# Tools config file.
tools.json

# Sublime Config files.
*.sublime-project
*.sublime-workspace

# Subclasses lib compilation files.
*.pro.user
**/Makefile
**/Makefile.*
**/.qmake.stash
**/.qtc_clangd/
**/*.rs.bk

# These are usually files locked by applications.
*.*~

# Ignore the reserved pack and the merged pack.
\!\!\!\!\!\!\!\!\!\!\!\!\!\!\!\!\!\!\!\!\!run_you_fool_*.pack
merge_me_sideways_honey_*.pack
get_published_file_details.json

# Ignore cmd scripts.
*.bat

# Ignore sql stuff.
*.sql
*.db3
