[submodule "twpatcher"]
	path = twpatcher
	url = https://github.com/Frodo45127/twpatcher.git
[submodule "workshopper"]
	path = workshopper
	url = https://github.com/Frodo45127/workshopper.git
[submodule "rust_common_utils"]
	path = common_utils
	url = git@github.com:Frodo45127/rust_common_utils.git
